body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(245, 248, 250);
}
.logo {
  height:100px;
  width: auto;
  display: block;
  padding-left: 25px;
}
.container {
  position: relative;
  bottom: 10px;
}
h1 {
  position: relative;
  top: 90px;
  
}
.map {
  margin: auto;
  width: 90%;
  height:40%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.534);
  transition: 0.3s;
  border-radius: 10px;
}
.map:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}
.tripControls {
  text-align: center;
  margin-top: 20px;
}
#bus-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  line-height: 35px;
  width: 150px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: block;
  margin: auto;
  cursor: pointer;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}
#bus-button:hover {
   transition: 0.3s;  
   color: rgb(141, 219, 151); 
}
.legend {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(200, 240, 182); 
  width: fit-content;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(28, 15, 53, 0.603);
  text-align: center;
  
}
.legend-icon {
   height: 40px;
   width: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
  text-align: center;
  color: gray;
  cursor: help;
}


.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  text-decoration: none;
  position: absolute;
  top: 100%;
  right: 0;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 9999999;
  position: absoulute;
}

.display {
  margin: auto;
  margin-top: 20px;
  background-color: rgb(30, 48, 109);
  color: rgb(255, 255, 255);
  width: 350px;
  height:40%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(2, 14, 13, 0.788);
}
.loader {
  border: 12px solid #f3f3f3; 
  border-top: 12px solid #236088; 
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: auto;
  margin-bottom: 20px;
  animation: spin 2s linear infinite;
}
.empty {
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.destination{
  position: relative;
  bottom: 20px;
}

#mapid { height: 500px; }

@media screen and (min-width:760px){
  .map{
    width: 80%;
  }
  .tooltip .tooltiptext {
    width: 300px;
  }
  .header {
    font-size: 26px;
    height: 200px;
    bottom: 100px;
    width: auto;
  }
  h1 {
    top: 50px;
  }
  .title2 {
    top: 10px;
  }
  .logo {
    padding-left: 120px;
  }
  
}

@media screen and (min-width:1250px){
  h1 {
    right:0px;
  }
  .title2 {
    right:0px;
  }
  .logo {
    padding-left: 25px;
  }
  .container {
    bottom: 80px;
  }
  .map{
   margin: unset;
   width: 70%;
   margin-right: 5px;
   display: inline-block;
 }
 .legend {
   display: inline-block;
   margin: unset;
   position: relative;
   bottom: 0px;  
   float: right; 
 }
 .display {
  display: inline-block;
  margin: unset;
  margin-left: 5px;
  position: relative;
  float: right;
  bottom: 300px; 
 }
 .tooltip .tooltiptext{
  width: 400px;
 }

}